/* FONTS */
@font-face {
  font-family: Norse;
  src: url("../fonts/Norse.otf") format("opentype");
}

@font-face {
  font-family: Norse-Bold;
  src: url("../fonts/Norsebold.otf") format("opentype");
}

@font-face {
  font-family: Mukta;
  src: url("../fonts/Mukta-Regular.ttf") format("opentype");
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: Mukta, sans-serif;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 99999;
}

.loader {
  border: 16px solid #333333;
  border-top: 16px solid #ffc107;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#mainNav {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Mukta, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
#mainNav a {
  color: white;
}

#mainNav .dropdown-menu {
  background-color: #212529;
}

#mainNav .dropdown-menu a:hover {
  color: #ffc107;
  background-color: #212529;
}

#mainNav .nav-link {
  font-family: Mukta, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

#mainNav .nav-link:hover {
  color: #ffc107;
}

.nav-logo {
  width: 55px;
  height: 55px;
}

#mainNav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="submit"],
textarea {
  font-family: Mukta, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="submit"],
textarea:focus {
  border: 1px solid #ffc107;
  box-shadow: none;
}

.runes-explanation {
  font-family: Mukta, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 20px;
}

.runes-explanation .container {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.runes-explanation .col-md-10 {
  padding: 10px;
  margin: 0 auto;
}

.runes {
  font-family: Mukta, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 20px;
}

.rune-columns {
  padding: 10px;
}

.rune-search-area {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  text-align: center;
}

.rune-search-area .btn {
  margin-top: 10px;
}

.btn {
  font-family: Mukta, sans-serif;
  background-color: #212529;
  color: white;
  border-radius: 0;
  border: 1px solid #fff;
}

.btn:hover {
  background-color: #ffc107;
  color: #212529;
  border: 1px solid #fff;
}

.runes .container {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.runes .card h5 {
  font-family: Norse, sans-serif;
  font-size: 48px;
}

.runes .col-md-3 {
  margin-bottom: 10px;
}

.runes .card-text {
  font-family: Mukta, sans-serif;
  font-size: 18px;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1px solid #fff;
  outline: none;
  background-color: #212529;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 12px;
}

#back-to-top:hover {
  background-color: #ffc107;
  color: #212529;
  border: 1px solid #fff;
}

#back-to-top i {
  font-size: 24px;
}

#back-to-top:focus {
  border: 1px solid #fff;
}

.footer {
  background-color: black;
  opacity: 0.8;
  font-family: Mukta, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding-top: 20px;
  bottom: 0;
  width: 100%;
}