
/* FONTS */
@font-face {
    font-family: Futhark;
    src: url("../fonts/Futhark.otf") format("opentype");
}

@font-face {
    font-family: Mukta;
    src: url("../fonts/Mukta-Regular.ttf") format("opentype");
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: Mukta, sans-serif;
}

#mainNav {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Mukta, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}
    #mainNav a {
        color: white;
    }

    #mainNav .dropdown-menu {
        background-color: #212529;
    }

    #mainNav .dropdown-menu a:hover {
        color: #ffc107;
        background-color: #212529;
    }

    #mainNav .nav-link {
        font-family: Mukta, sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
    }

    #mainNav .nav-link:hover {
        color: #ffc107;
    }

    #mainNav .btn {
        font-family: Mukta, sans-serif;
        background-color: #212529;
        color: white;
    }

    #mainNav .btn:hover {
        background-color: #ffc107;
        color: #212529;
    }